In [1]:
# This file is aimed to predict in one week which day is the most busy and which day order number is the least.
# Accordingly, store supervisor would like to arrange schedule more reasonable according to this prediction.
# Algorithm: Random Forest

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("orders.csv")
data.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [4]:
# check if there are NaN in dataframe
data.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [5]:
# We can see threre are 206209 values in days_since_prior_order cloumn is NaN 
# replace all the NaN with 0
data =data.fillna(0)
data.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,0.0
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [6]:
# Drop the data which we don't need
# features=data.drop(['order_id','order_number'], axis=1)
# features.head()

   user_id eval_set  order_dow  order_hour_of_day  days_since_prior_order
0        1    prior          2                  8                     0.0
1        1    prior          3                  7                    15.0
2        1    prior          3                 12                    21.0
3        1    prior          4                  7                    29.0
4        1    prior          4                 15                    28.0

In [7]:
# train_target.head()

In [8]:
# target_train.head()

In [28]:
# Prepare for the x & y
x = data.drop(['eval_set','order_dow','order_id','order_number'], axis=1)
y = data['order_dow']

In [29]:
x.head()

   user_id  order_hour_of_day  days_since_prior_order
0        1                  8                     0.0
1        1                  7                    15.0
2        1                 12                    21.0
3        1                  7                    29.0
4        1                 15                    28.0

In [30]:
y.head()

0    2
1    3
2    3
3    4
4    4
Name: order_dow, dtype: int64

In [31]:
# split the train data and test data using train_test_split()
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=22)

In [32]:
# I use random forest algorithm to predict the results
# Import the RandomForestClassifier & GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [33]:
# name the randomForestClassifier as estimator
# estimator = RandomForestClassifier()

# # Use grid search & cross validation
# # Preparing the parameters
# param_dict  = {"n_estimators" : [120,200,300,400,500,600,800,1200],"max_depth" : [2,5,10,20,40,60,80,100,150,200]}
# estimator = GridSearchCV(estimator, param_grid = param_dict, cv=10)
# estimator.fit(x_train,y_train)

In [58]:
# from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
# from sklearn.decomposition import PCA
from sklearn import decomposition

In [59]:
transfer = preprocessing.StandardScaler()
# transfer = decomposition.PCA(n_components=0.95)
x_train = transfer.fit_transform(x_train)
x_test = transfer.transform(x_test)

In [60]:
# from sklearn.decomposition import PCA
# features=data.drop(['order_id','order_number','eval_set'], axis=1)
# transfer = PCA(n_components=0.95)
# data_new = transfer.fit_transform(features)

In [61]:
from sklearn.linear_model import LinearRegression, SGDRegressor

In [62]:
estimator = LinearRegression()
estimator.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [63]:
print("xishu", estimator.coef_)
print(estimator.intercept_)

xishu [-0.03857885  0.01806296 -0.03270888]
2.7768893558347023

In [64]:
estimator.predict(x_test)

array([2.78050774, 2.7985004 , 2.77708596, ..., 2.80289179, 2.83891957,
       2.80683194])

In [65]:
print(estimator.predict(x_test)==y_test)

338292     False
2670304    False
1673020    False
2295440    False
3130164    False
408874     False
2520267    False
2647069    False
2674049    False
3280465    False
3334505    False
1853978    False
1304855    False
645291     False
2163129    False
524128     False
2929880    False
2107610    False
658296     False
235812     False
2836738    False
330142     False
3123158    False
2176570    False
2147781    False
112622     False
2083069    False
3242564    False
2462193    False
2722851    False
           ...
2693146    False
2765329    False
2571745    False
2027252    False
662426     False
2078019    False
3162707    False
1272468    False
1424548    False
2494508    False
2564381    False
1274052    False
2778856    False
1335695    False
3261816    False
495608     False
630634     False
401438     False
1497434    False
2445094    False
1365643    False
518595     False
2294948    False
512806     False
2427469    False
1536309    False
1563027    False
2729875    False
1009928    False
2505188    False
Name: order_dow, Length: 1026325, dtype: bool

In [66]:
score = estimator.score(x_test, y_test)

In [67]:
print(score)

0.0006515269587262784