In [1]:
# This file is aimed to predict in one week which day is the most busy and which day order number is the least.
# Accordingly, store supervisor would like to arrange schedule more reasonable according to this prediction.
# Algorithm: Random Forest

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("orders.csv")
data.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [4]:
# check if there are NaN in dataframe
data.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [5]:
# We can see threre are 206209 values in days_since_prior_order cloumn is NaN 
# replace all the NaN with 0
data =data.fillna(0)
data.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,0.0
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [6]:
# Drop the data which we don't need
features=data.drop(['order_id','order_number'], axis=1)
features.head()

   user_id eval_set  order_dow  order_hour_of_day  days_since_prior_order
0        1    prior          2                  8                     0.0
1        1    prior          3                  7                    15.0
2        1    prior          3                 12                    21.0
3        1    prior          4                  7                    29.0
4        1    prior          4                 15                    28.0

In [7]:
# Get test rows from the original data
# This function is aimed to prepare data for random forest
def dataPrepare(rowVal):
    prepare = features.loc[features['eval_set']==rowVal]
    prepare.to_csv('order_'+rowVal+'.csv', index=False)

In [8]:
# Run function with speicific parameters--'prior','test','train'
dataPrepare('prior')
dataPrepare('test')
dataPrepare('train')

In [9]:
# 1st step to prepare data for x_train & x_test
x_feature = pd.read_csv('order_prior.csv')
x_feature.head()

   user_id eval_set  order_dow  order_hour_of_day  days_since_prior_order
0        1    prior          2                  8                     0.0
1        1    prior          3                  7                    15.0
2        1    prior          3                 12                    21.0
3        1    prior          4                  7                    29.0
4        1    prior          4                 15                    28.0

In [10]:
# choose the cloumns for x_train & x_test
feature_x = x_feature.drop(['eval_set'], axis=1)
feature_x.head()

   user_id  order_dow  order_hour_of_day  days_since_prior_order
0        1          2                  8                     0.0
1        1          3                  7                    15.0
2        1          3                 12                    21.0
3        1          4                  7                    29.0
4        1          4                 15                    28.0

In [11]:
# Prepare data for y_train
train_target = pd.read_csv('order_train.csv')
target_train = train_target.drop(['eval_set'], axis=1)
train_target.head()

   user_id eval_set  order_dow  order_hour_of_day  days_since_prior_order
0        1    train          4                  8                    14.0
1        2    train          1                 11                    30.0
2        5    train          0                 11                     6.0
3        7    train          2                 11                     6.0
4        8    train          1                 14                    10.0

In [12]:
target_train.head()

   user_id  order_dow  order_hour_of_day  days_since_prior_order
0        1          4                  8                    14.0
1        2          1                 11                    30.0
2        5          0                 11                     6.0
3        7          2                 11                     6.0
4        8          1                 14                    10.0

In [13]:
# Prepare data for y_test
target_test = pd.read_csv('order_test.csv')
test_target = target_test.drop(['eval_set'], axis=1)
test_target.head()

   user_id  order_dow  order_hour_of_day  days_since_prior_order
0        3          5                 15                    11.0
1        4          3                 12                    30.0
2        6          3                 16                    22.0
3       11          6                 11                     8.0
4       12          1                 20                    30.0

In [18]:
 # 2nd step to prepare data for x_train & x_test
 # Split different prior data(with different tail)


total_feature = feature_x
split_id_list=[]
for val in target_train['user_id']:
    split_id_list.append(val)
    
split_id_list

[1,
 2,
 5,
 7,
 8,
 9,
 10,
 13,
 14,
 17,
 18,
 21,
 23,
 24,
 27,
 29,
 30,
 34,
 37,
 38,
 41,
 42,
 43,
 44,
 46,
 47,
 48,
 49,
 50,
 52,
 53,
 55,
 56,
 59,
 62,
 63,
 64,
 65,
 66,
 67,
 70,
 71,
 72,
 74,
 76,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 86,
 87,
 88,
 89,
 90,
 91,
 93,
 95,
 96,
 97,
 99,
 102,
 103,
 104,
 105,
 106,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 123,
 124,
 125,
 128,
 130,
 131,
 132,
 135,
 138,
 139,
 140,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 150,
 155,
 157,
 160,
 161,
 163,
 164,
 167,
 169,
 171,
 173,
 174,
 175,
 176,
 178,
 179,
 183,
 184,
 185,
 187,
 189,
 191,
 192,
 193,
 195,
 197,
 198,
 199,
 201,
 203,
 204,
 205,
 206,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 217,
 218,
 219,
 220,
 222,
 223,
 224,
 226,
 229,
 230,
 231,
 235,
 238,
 239,
 240,
 242,
 243,
 245,
 249,
 250,
 252,
 253,
 255,
 256,
 258,
 259,
 260,
 261,
 262,
 264,
 267,
 270,
 271,
 272,
 273,
 278,
 280,
 282,
 283,
 284,
 285,
 286,
 288,
 289,
 291,
 293,
 294,
 295,
 296,
 298,
 300,
 304,
 305,
 306,
 309,
 310,
 313,
 314,
 315,
 317,
 319,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 334,
 337,
 340,
 341,
 342,
 343,
 345,
 346,
 348,
 349,
 350,
 351,
 353,
 355,
 357,
 358,
 359,
 361,
 363,
 365,
 370,
 371,
 372,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 382,
 383,
 384,
 385,
 387,
 390,
 391,
 393,
 395,
 396,
 399,
 401,
 402,
 403,
 404,
 406,
 409,
 411,
 412,
 414,
 416,
 417,
 419,
 421,
 425,
 426,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 437,
 438,
 441,
 442,
 444,
 446,
 448,
 449,
 452,
 453,
 454,
 456,
 457,
 459,
 465,
 466,
 468,
 469,
 470,
 471,
 472,
 473,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 483,
 484,
 486,
 487,
 488,
 489,
 490,
 491,
 493,
 494,
 495,
 497,
 499,
 501,
 502,
 504,
 506,
 509,
 511,
 512,
 513,
 514,
 515,
 517,
 518,
 519,
 520,
 521,
 523,
 524,
 525,
 526,
 527,
 528,
 530,
 531,
 532,
 533,
 534,
 536,
 538,
 540,
 541,
 542,
 544,
 545,
 546,
 547,
 549,
 550,
 552,
 554,
 555,
 558,
 559,
 560,
 561,
 562,
 563,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 575,
 577,
 580,
 582,
 584,
 585,
 586,
 587,
 591,
 592,
 593,
 594,
 595,
 597,
 599,
 600,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 611,
 612,
 614,
 616,
 617,
 619,
 620,
 623,
 625,
 626,
 628,
 632,
 634,
 636,
 637,
 638,
 639,
 641,
 644,
 646,
 647,
 648,
 649,
 650,
 655,
 657,
 667,
 669,
 670,
 671,
 672,
 674,
 676,
 677,
 680,
 682,
 684,
 685,
 687,
 689,
 690,
 691,
 692,
 694,
 695,
 696,
 697,
 699,
 700,
 703,
 704,
 705,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 731,
 733,
 735,
 736,
 737,
 741,
 742,
 743,
 746,
 748,
 749,
 750,
 751,
 753,
 754,
 755,
 756,
 757,
 759,
 760,
 761,
 765,
 767,
 768,
 769,
 770,
 774,
 775,
 776,
 777,
 779,
 781,
 782,
 783,
 784,
 786,
 788,
 789,
 790,
 792,
 795,
 796,
 797,
 799,
 800,
 801,
 803,
 804,
 805,
 808,
 809,
 814,
 816,
 818,
 820,
 821,
 822,
 824,
 829,
 831,
 833,
 835,
 836,
 838,
 839,
 840,
 841,
 844,
 845,
 846,
 847,
 848,
 849,
 852,
 854,
 855,
 856,
 857,
 859,
 863,
 864,
 865,
 866,
 867,
 868,
 871,
 872,
 873,
 874,
 875,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 895,
 897,
 898,
 899,
 900,
 901,
 905,
 906,
 907,
 909,
 913,
 915,
 916,
 917,
 919,
 920,
 921,
 922,
 923,
 925,
 928,
 929,
 930,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 943,
 944,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 956,
 957,
 958,
 962,
 967,
 968,
 970,
 971,
 973,
 974,
 976,
 977,
 979,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 989,
 990,
 991,
 992,
 994,
 996,
 1000,
 1002,
 1003,
 1006,
 1007,
 1008,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1019,
 1021,
 1022,
 1024,
 1025,
 1026,
 1027,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1038,
 1039,
 1040,
 1041,
 1042,
 1044,
 1046,
 1048,
 1050,
 1052,
 1053,
 1054,
 1055,
 1056,
 1058,
 1059,
 1060,
 1061,
 1063,
 1065,
 1066,
 1067,
 1068,
 1069,
 1070,
 1071,
 1072,
 1073,
 1077,
 1078,
 1079,
 1080,
 1081,
 1084,
 1085,
 1086,
 1088,
 1089,
 1090,
 1091,
 1093,
 1094,
 1095,
 1099,
 1101,
 1102,
 1104,
 1105,
 1106,
 1107,
 1110,
 1112,
 1113,
 1114,
 1118,
 1120,
 1122,
 1123,
 1128,
 1129,
 1130,
 1131,
 1132,
 1133,
 1134,
 1136,
 1139,
 1140,
 1141,
 1142,
 1143,
 1144,
 1145,
 1146,
 1147,
 1150,
 1151,
 1155,
 1157,
 1158,
 1162,
 1164,
 1165,
 1166,
 1167,
 1168,
 1169,
 1170,
 1172,
 1173,
 1176,
 1180,
 1181,
 1184,
 1185,
 1186,
 1187,
 1188,
 1189,
 1190,
 1192,
 1193,
 1195,
 1197,
 1199,
 1200,
 1202,
 1204,
 1205,
 1206,
 1207,
 1208,
 1209,
 1210,
 1213,
 1214,
 1215,
 1216,
 1218,
 1219,
 1220,
 1221,
 1222,
 1224,
 1226,
 1227,
 1228,
 1229,
 1233,
 1234,
 1239,
 1242,
 1243,
 1244,
 1246,
 1248,
 1249,
 1250,
 1252,
 1253,
 1254,
 1255,
 1257,
 1259,
 1260,
 1262,
 1265,
 1268,
 1269,
 1270,
 1271,
 1272,
 1273,
 1274,
 1277,
 1278,
 1280,
 1281,
 1283,
 1284,
 1287,
 1291,
 1292,
 1293,
 1294,
 1295,
 1297,
 1298,
 1299,
 1300,
 1301,
 1302,
 1303,
 1304,
 1305,
 1306,
 1308,
 1312,
 1313,
 1315,
 1317,
 1318,
 1319,
 1320,
 1321,
 1324,
 1325,
 1331,
 1332,
 1333,
 1334,
 1335,
 1336,
 1338,
 1342,
 1343,
 1344,
 1346,
 1347,
 1352,
 1353,
 1354,
 1356,
 1358,
 1362,
 1367,
 1368,
 1369,
 1371,
 1372,
 1374,
 1377,
 1378,
 1382,
 1383,
 1387,
 1388,
 1391,
 1392,
 1393,
 1394,
 1395,
 1397,
 1398,
 1399,
 1400,
 1401,
 1402,
 1403,
 1405,
 1406,
 1407,
 1410,
 1412,
 1414,
 1418,
 1422,
 1423,
 1425,
 1426,
 1427,
 1428,
 1432,
 1435,
 1436,
 1437,
 1439,
 1440,
 1442,
 1443,
 1446,
 1447,
 1448,
 1449,
 1451,
 1456,
 1457,
 1458,
 1459,
 1461,
 1462,
 1465,
 1466,
 1468,
 1470,
 1472,
 1474,
 1475,
 1476,
 1477,
 1478,
 1479,
 1481,
 1482,
 1483,
 1484,
 1486,
 1488,
 1490,
 1491,
 1492,
 1494,
 1495,
 1497,
 1498,
 1499,
 1500,
 1503,
 1504,
 1505,
 1507,
 1508,
 1510,
 1512,
 1513,
 1515,
 1518,
 1519,
 1521,
 1522,
 1524,
 1525,
 1527,
 1528,
 1529,
 1530,
 1531,
 1533,
 1534,
 1536,
 1537,
 1538,
 1539,
 1540,
 1541,
 1542,
 1543,
 1545,
 1546,
 1550,
 1551,
 1552,
 1553,
 1555,
 1556,
 1557,
 1559,
 1562,
 1565,
 1566,
 ...]

In [29]:
# Split the prior order as x_train 
# Save data as csv file
x_train_prior=feature_x[feature_x.user_id.isin(split_id_list)]
x_train_prior.to_csv('order_prior_for_train.csv',index=False)
x_train_prior

         user_id  order_dow  order_hour_of_day  days_since_prior_order
0              1          2                  8                     0.0
1              1          3                  7                    15.0
2              1          3                 12                    21.0
3              1          4                  7                    29.0
4              1          4                 15                    28.0
5              1          2                  7                    19.0
6              1          1                  9                    20.0
7              1          1                 14                    14.0
8              1          1                 16                     0.0
9              1          4                  8                    30.0
10             2          2                 11                     0.0
11             2          5                 10                    10.0
12             2          1                 10                     3.0
13             2          2                 10                     8.0
14             2          3                 11                     8.0
15             2          2                  9                    13.0
16             2          2                 12                    14.0
17             2          1                 15                    27.0
18             2          2                  9                     8.0
19             2          1                 11                     6.0
20             2          1                 10                    30.0
21             2          1                  9                    28.0
22             2          4                 11                    30.0
23             2          3                 10                    13.0
41             5          3                 12                     0.0
42             5          0                 16                    11.0
43             5          3                 18                    10.0
44             5          1                 18                    19.0
48             7          3                  9                     0.0
49             7          1                 19                    30.0
...          ...        ...                ...                     ...
3214654   206200          1                 12                     7.0
3214655   206200          1                 13                     0.0
3214656   206200          1                  0                    14.0
3214657   206200          4                 18                    10.0
3214658   206200          1                  1                    11.0
3214659   206200          1                 23                     7.0
3214660   206200          2                 14                     1.0
3214661   206200          6                 22                     4.0
3214662   206200          0                 19                     1.0
3214717   206203          1                 13                     0.0
3214718   206203          0                 18                    30.0
3214719   206203          2                 13                    30.0
3214720   206203          1                 16                    27.0
3214721   206203          5                 18                    30.0
3214726   206205          4                 12                     0.0
3214727   206205          2                 15                    30.0
3214728   206205          5                 16                    10.0
3214861   206209          3                 11                     0.0
3214862   206209          3                 17                     7.0
3214863   206209          5                 11                    30.0
3214864   206209          1                 10                    30.0
3214865   206209          4                 15                     3.0
3214866   206209          0                 16                     3.0
3214867   206209          2                 13                     9.0
3214868   206209          3                 17                    22.0
3214869   206209          4                 15                    22.0
3214870   206209          5                 18                    29.0
3214871   206209          4                 10                    30.0
3214872   206209          1                 12                    18.0
3214873   206209          1                 12                     7.0

[2047377 rows x 4 columns]

In [26]:
# feature_x = total_feature

In [28]:
# Split the prior order as x_test 
# Save data as csv file
x_test_prior = feature_x[~feature_x.user_id.isin(split_id_list)]
x_test_prior.to_csv('order_prior_for_test.csv',index=False)
x_test_prior

         user_id  order_dow  order_hour_of_day  days_since_prior_order
24             3          1                 14                     0.0
25             3          3                 19                     9.0
26             3          3                 16                    21.0
27             3          2                 18                    20.0
28             3          0                 17                    12.0
29             3          0                 16                     7.0
30             3          0                 15                     7.0
31             3          0                 17                     7.0
32             3          0                 16                     7.0
33             3          3                 16                    17.0
34             3          0                 18                    11.0
35             3          1                 15                    15.0
36             4          6                 11                     0.0
37             4          4                 11                    19.0
38             4          4                 15                    21.0
39             4          5                 13                    15.0
40             4          5                 13                     0.0
45             6          5                 18                     0.0
46             6          4                 16                     6.0
47             6          2                 18                    12.0
79            11          0                 11                     0.0
80            11          5                 11                    12.0
81            11          5                 10                    14.0
82            11          5                 13                    30.0
83            11          5                 11                    30.0
84            11          5                 11                     7.0
85            11          5                  9                    30.0
86            12          1                 12                     0.0
87            12          5                  9                    30.0
88            12          5                  8                    14.0
...          ...        ...                ...                     ...
3214831   206208          0                  8                    10.0
3214832   206208          5                  9                     5.0
3214833   206208          1                 12                     3.0
3214834   206208          5                 16                     4.0
3214835   206208          5                  9                     7.0
3214836   206208          2                 15                    11.0
3214837   206208          2                 16                     0.0
3214838   206208          2                 14                     7.0
3214839   206208          0                 17                     5.0
3214840   206208          4                 18                     4.0
3214841   206208          0                 16                     3.0
3214842   206208          4                 11                     4.0
3214843   206208          6                 18                     9.0
3214844   206208          6                 13                     7.0
3214845   206208          6                 15                     7.0
3214846   206208          3                 22                     4.0
3214847   206208          6                 15                    10.0
3214848   206208          2                 12                     3.0
3214849   206208          0                 15                    19.0
3214850   206208          2                 14                     9.0
3214851   206208          5                  9                    10.0
3214852   206208          2                 14                    11.0
3214853   206208          1                 19                     6.0
3214854   206208          4                 14                     3.0
3214855   206208          6                 16                     2.0
3214856   206208          2                 11                     3.0
3214857   206208          1                 10                    13.0
3214858   206208          3                  4                     9.0
3214859   206208          1                 11                     5.0
3214860   206208          1                 22                     7.0

[1167497 rows x 4 columns]

In [15]:
# dataframe useage explanation :
# for algorithm training: (x_train_prior, target_train)
# for algorithm test: (x_test_prior, test_target)

#  correspondence between the csv file and dataframe variables(include the final prepared variable for our needs):
#    file name                          dataframe variables name      variable we need to use
#  order_prior_for_train.csv               x_train_prior                    x_train_prior
#  order_prior_for_test.csv                x_test_prior                     x_test_prior
#  order_train.csv                         train_target                     target_train
#  order_test.csv                          target_test                      test_target