## Xiangyu Liu 001498478

# Greedy Dumb Submission

In [19]:
import pandas as pd 
import numpy as np 
import nltk # text preprocessing & manipulation
import matplotlib.pyplot as plt # plotting
import seaborn as sns # plotting

from functools import partial # to reduce df memory consumption by applying to_numeric

color = sns.color_palette() 
import warnings
warnings.filterwarnings('ignore') # silence annoying warnings

# Training Models

### Data Cleaning

In [23]:
aisles = pd.read_csv('aisles.csv')
departments = pd.read_csv('departments.csv')

In [ ]:
### aisles and depts are the description and kind of each entity

In [20]:
print('Total aisles: {}'.format(aisles.shape[0]))
aisles.head()

Total aisles: 134

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [22]:
print('Total departments: {}'.format(departments.shape[0]))
departments.head()

Total departments: 21

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [24]:
# products
products = pd.read_csv('products.csv')
print('Total products: {}'.format(products.shape[0]))
products.head(5)

Total products: 49688

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [25]:
# combine aisles, departments and products (left joined to products)
goods = pd.merge(left=pd.merge(left=products, right=departments, how='left'), right=aisles, how='left')
# to retain '-' and make product names more "standard"
goods.product_name = goods.product_name.str.replace(' ', '_').str.lower() 
print(goods.info())

goods.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49688 entries, 0 to 49687
Data columns (total 6 columns):
product_id       49688 non-null int64
product_name     49688 non-null object
aisle_id         49688 non-null int64
department_id    49688 non-null int64
department       49688 non-null object
aisle            49688 non-null object
dtypes: int64(3), object(3)
memory usage: 2.7+ MB
None

,product_id,product_name,aisle_id,department_id,department,aisle
0,1,chocolate_sandwich_cookies,61,19,snacks,cookies cakes
1,2,all-seasons_salt,104,13,pantry,spices seasonings
2,3,robust_golden_unsweetened_oolong_tea,94,7,beverages,tea
3,4,smart_ones_classic_favorites_mini_rigatoni_wit...,38,1,frozen,frozen meals
4,5,green_chile_anytime_sauce,5,13,pantry,marinades meat preparation

In [27]:
# train datatset
train = pd.read_csv('order_products__train.csv')
print('Total ordered products(train): {}'.format(train.shape[0]))
train.head(10)

Total ordered products(train): 1384617

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1
5         1       13176                  6          0
6         1       47209                  7          0
7         1       22035                  8          1
8        36       39612                  1          0
9        36       19660                  2          1

In [28]:
# test dataset
test = pd.read_csv('sample_submission.csv')
print('Total orders(test): {}'.format(test.shape[0]))
test.head()

Total orders(test): 75000

   order_id     products
0        17  39276 29259
1        34  39276 29259
2       137  39276 29259
3       182  39276 29259
4       257  39276 29259

In [31]:
#prior dataset
prior = pd.read_csv('order_products__prior.csv')
print('Total ordered products(prior): {}'.format(prior.shape[0]))
prior.head()

Total ordered products(prior): 32434489

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [32]:
orders = pd.read_csv('orders.csv')
print('Total orders: {}'.format(orders.shape[0]))
print(orders.info())
orders.head()

Total orders: 3421083
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
order_id                  int64
user_id                   int64
eval_set                  object
order_number              int64
order_dow                 int64
order_hour_of_day         int64
days_since_prior_order    float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB
None

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

From the dataset, we can easily see:
1. users are identified by user_id in the orders csv file. Each row of the orders csv fil represents an order made by a user. Order are identified by order_id;
2. Each order has an order_number which specifies when it has been made with respect to the others of the same user
3. each order consists of a set of product each characterized by an add_to_cart_order feature representing the sequence in which they have been added to the cart in that order
4. for each user we may have n-1 prior orders and 1 train order OR n-1 prior orders and 1 test order in which we have to state what products have been reordered

In [34]:
# Combine (orders, order details, product hierarchy) into 1 dataframe order_details
from functools import partial

indexes = np.linspace(0, len(op_prior), num=10, dtype=np.int32)

# initialize it with train dataset
order_details = pd.merge(
                left=train,
                 right=orders, 
                 how='left', 
                 on='order_id'
        ).apply(partial(pd.to_numeric, errors='ignore', downcast='integer'))

# add order hierarchy
order_details = pd.merge(
                left=order_details,
                right=goods[['product_id', 
                             'aisle_id', 
                             'department_id']].apply(partial(pd.to_numeric, 
                                                             errors='ignore', 
                                                             downcast='integer')),
                how='left',
                on='product_id'
)
print(order_details.shape, train.shape)

# delete (redundant now) dataframes
del train

order_details.head()

(1384617, 12) (1384617, 4)

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,aisle_id,department_id
0,1,49302,1,1,112108,train,4,4,10,9,120,16
1,1,11109,2,1,112108,train,4,4,10,9,108,16
2,1,10246,3,0,112108,train,4,4,10,9,83,4
3,1,49683,4,0,112108,train,4,4,10,9,83,4
4,1,43633,5,1,112108,train,4,4,10,9,95,15

In [36]:
# update by small portions
for i in range(len(indexes)-1):
    order_details = pd.concat(
        [   
            order_details,
            pd.merge(left=pd.merge(
                            left=op_prior.loc[indexes[i]:indexes[i+1], :],
                            right=goods[['product_id', 
                                         'aisle_id', 
                                         'department_id' ]].apply(partial(pd.to_numeric, 
                                                                          errors='ignore', 
                                                                          downcast='integer')),
                            how='left',
                            on='product_id'
                            ),
                     right=orders, 
                     how='left', 
                     on='order_id'
                ) #.apply(partial(pd.to_numeric, errors='ignore', downcast='integer'))
        ]
    )
print('Datafame length: {}'.format(order_details.shape[0]))
print('Memory consumption: {:.2f} Mb'.format(sum(order_details.memory_usage(index=True, 
                                                                         deep=True) / 2**20)))
# check dtypes to see if we use memory effectively
print(order_details.dtypes)

# make sure we didn't forget to retain test dataset :D
test_orders = orders[orders.eval_set == 'test']

# delete (redundant now) dataframes
del op_prior, orders

Datafame length: 33819114
Memory consumption: 4676.60 Mb
add_to_cart_order           int64
aisle_id                    int16
days_since_prior_order    float64
department_id                int8
eval_set                   object
order_dow                   int64
order_hour_of_day           int64
order_id                    int64
order_number                int64
product_id                  int64
reordered                   int64
user_id                     int64
dtype: object

In [37]:
# dumb submission
test_history = order_details[(order_details.user_id.isin(test_orders.user_id))]\
.groupby('user_id')['product_id'].apply(lambda x: ' '.join([str(e) for e in set(x)])).reset_index()
test_history.columns = ['user_id', 'products']

test_history = pd.merge(left=test_history, 
                        right=test_orders, 
                        how='right', 
                        on='user_id')[['order_id', 'products']]

test_history.to_csv('dumb_submission.csv', encoding='utf-8', index=False)

In [40]:
rst1 = pd.read_csv('dumb_submission.csv')
rst1

       order_id                                           products
0       2774568  17668 44683 48523 21903 14992 21137 32402 2203...
1        329954  21573 42329 17769 35469 37646 1200 19057 26576...
2       1528013  40992 27521 20323 48679 8424 45007 21903 10644...
3       1376945  17794 8197 30855 33037 30480 10644 26209 35738...
4       1356845  11520 45056 17794 44422 17159 44683 37646 1499...
5       2161313  11266 37059 196 10441 43721 12427 37710 48142 ...
6       1416320  15872 28289 17794 40706 43014 651 7948 5134 21...
7       1735923  27138 21001 41483 34827 19468 40974 21011 1231...
8       1980631            13575 6184 9387 46061 13914 41400 22362
9        139655  39040 17794 24964 7948 21903 32655 2452 35221 ...
10      1411408  27521 21506 26756 26128 278 22451 1216 45633 2...
11      2940603  30592 49157 31130 13219 1063 49588 19894 8758 ...
12      1192143  23044 21513 47626 41483 26128 49683 27156 4917...
13       280888  10755 10246 27658 15371 34827 25101 28682 4814...
14      3202221  5134 49175 28696 6187 8239 12341 34358 49215 5...
15      3222866  40706 13187 35458 37507 37131 32912 49680 7969...
16       707453  30727 45066 35343 45084 24622 45104 34358 3999...
17      1320132  33153 42626 12419 14852 39812 30599 46088 4148...
18       882556  28289 17794 14849 27012 28553 37642 8203 47626...
19      2431024  28928 11777 14467 25999 22035 17044 24852 4917...
20      2827745  35424 20770 24098 17924 35782 40934 42683 4766...
21      2174416  24964 47626 36362 20115 30489 40604 10017 4444...
22      1325316  38400 8193 1025 10243 27142 47626 33290 45066 ...
23       320326  37120 34816 8193 40706 3599 49683 24852 21653 ...
24      2128599  41984 11265 8193 11398 28299 36750 41486 11408...
25      1099519  32642 16004 28550 24838 1158 22035 47766 41750...
26       144494  12817 48150 26135 3101 36897 6187 13869 32819 ...
27      3024191  34304 27521 17794 20995 41220 30336 40706 2252...
28      2817181  33025 260 38920 30219 18828 35469 39055 41618 ...
29      2883656  36736 8193 23236 45767 8264 19019 40396 19660 ...
...         ...                                                ...
74970   1968103  40604 33731 16185 4357 2086 28199 8518 46372 3...
74971   3094655  29312 36227 37132 27796 46489 10527 41124 3229...
74972   2964171  11520 35584 20738 640 36227 39174 45064 19080 ...
74973   1522572  1025 24838 16908 21903 26128 31506 20754 27156...
74974    544857  13575 21385 26889 31506 42392 16283 16797 2115...
74975   1421496  35336 5769 17679 21903 21137 31506 16797 1957 ...
74976    765758  388 21643 31883 42763 13203 24852 3990 536 422...
74977   1772796  39428 29447 45066 14732 21903 21137 42265 1679...
74978   3177219  11782 15384 34969 30233 16797 8479 35233 18594...
74979   2380361  47619 27142 19978 17419 38412 7693 35855 18963...
74980    928262  11777 40706 14467 24964 260 46979 17794 39180 ...
74981   1722401             5258 21195 19660 48812 6324 7862 34551
74982   1945444  11790 45582 21526 42007 46109 16419 26165 2102...
74983   2000023  8320 40706 33411 8324 1668 11782 24199 12814 1...
74984   3151043  25283 20697 9477 29731 37065 42315 40332 49326...
74985   2900626  49670 20113 30353 24852 44697 26528 21925 2730...
74986   2633505  5250 45066 47626 14218 43789 38288 48785 24852...
74987   1836967  35845 21512 22034 10279 19495 37940 14400 7239...
74988   2799087  17284 260 11782 13708 27663 21903 21137 38033 ...
74989   2762353  11777 17794 24964 45957 47492 7175 10248 43654...
74990    959487  24456 42508 13709 9623 38426 18205 15902 27043...
74991    701105  43409 11281 24852 6550 7963 36763 14493 9510 3...
74992     64567  16384 35842 47626 44051 49683 46616 18465 4151...
74993   1564541  12797 40194 24195 24964 37765 17795 29195 2190...
74994    309211  18432 1025 44548 45574 14861 46607 44051 49683...
74995   2728930  260 2693 28934 18567 45066 17038 5390 21137 49...
74996    350108  30720 17794 20995 17027 30855 2825 44683 5646 ...
74997   1043943  16896 44033 18434 16387 21508 45573 10246 1741...
74998   2821651  20995 18441 45578 47626 33806 22035 23576 3023...
74999    803273  1025 20995 47626 8203 5133 38419 27156 23579 2...

[75000 rows x 2 columns]